/* Continuous zoom animation */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); /* how much it zooms */
  }
}

.zoom-hover {
  transition: filter 0.3s ease-in-out; /* only brightness transition */
}

.group:hover .zoom-hover {
  animation: zoomIn 8s linear infinite alternate; /* smooth infinite zoom */
}
